@import '../../assets/sass/now-ui-kit/variables';


.form-class {
  border: 1px solid $primary-color;
}


.mat-form-field.mat-focused .mat-form-field-label {
  // color: #3f51b5;
  color: rgba(0, 0, 0, 0.87) !important;
}

blockquote,
mat-select {
  background-color: rgba(255, 255, 255, 0.70);
}

blockquote p {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}

blockquote {
  max-width: 40%;
  overflow: scroll;
  max-height: 30vh;
}

@media only screen and (max-width: 900px) {
  blockquote {
    max-width: 30%;
    overflow: scroll;
    max-height: 30vh
  }
}

@media only screen and (max-width: 600px) {
  blockquote, .blockquote {
    max-width: 100%;
    max-height: 20vh !important;
    overflow: scroll;
    padding: 0;
    margin: 0;
  }
}

.ngx-json-viewer[_ngcontent-gxo-c5] .segment-type-string[_ngcontent-gxo-c5] > .segment-main[_ngcontent-gxo-c5] > .segment-value[_ngcontent-gxo-c5] {
  color: black;
}

.container {
  background-image:url("../../assets/img/book.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.line{
  border-right: black 1px solid;
}

.logos{
  border: none;
  max-height: 15vh !important;
}

.explanation{
  color: black;
  background-color: rgba(255, 255, 255, 0.70);
  padding: 5px 10px;
  margin-top: 3%;
  margin-bottom: 3%;
}

@media only screen and (max-width: 600px) {
  .explanation{
    max-height: 20vh;
    overflow: scroll;
  }
  .logo-fris{
    width: 40% !important;
  }
}
