<!-- <div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div> -->
<div class="page-header" filter-color="blue">
  <!-- <div class="page-header-image" style="background-image:url(assets/img/book.jpg); background-size:cover"></div>-->
  <div class="container" style="  margin: auto;">
    <div class="content">
      <div class="content-center" style="width: 60%; margin: auto;">
        <div class="card card-login card-plain">

          <div class="header header-primary text-center">
            <div class="logo-container">
              <img src="assets/img/fris.svg" alt="" width="100%">
            </div>
          </div>
          <div>
            <div fxLayout="row" fxLayoutAlign="center center" class="form-group">

              <mat-form-field appearance="none">
                <mat-label>Choose an option</mat-label>
                <mat-select class="form-control form-class" style="margin-left: -18px; margin-top: -3px;" [(ngModel)]="selected" name="research" (ngModelChange)="showData()">
                  <mat-option *ngFor="let item of list" [value]="item.id">{{item.title}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


          </div>
        </div>


      </div>


      <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between start" style="max-height: 90%">
        <blockquote  style="width: 100%;">
          <p  *ngIf="dataToShow" class="blockquote blockquote-primary">
            <ngx-json-viewer [json]="dataToShow" [expanded]="false"></ngx-json-viewer>
          </p>

          <p *ngIf="!dataToShow" class="blockquote blockquote-primary">Choose a project or publication</p>
        </blockquote>

        <a class="btn btn-primary btn-round btn-lg btn-block" (click)="enrichData()">Get Keywords</a>

        <blockquote style="width: 100%;">
          <p  *ngIf="keywordResponse" class="blockquote blockquote-primary" style="max-height: 500px;">
            <ngx-json-viewer [json]="keywordResponse" [expanded]="false"></ngx-json-viewer>
          </p>
          <mat-progress-bar *ngIf="loading" mode="indeterminate" style="margin-top: 10px;" color="warn" ></mat-progress-bar>
          <p *ngIf="!keywordResponse" class="blockquote blockquote-primary" style="max-height: 500px;">Get keywords</p>
        </blockquote>
      </div>

    </div>
  </div>
