<!-- <div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div> -->
  <div class="page-header" filter-color="blue">
    <div class="page-header-image" style="background-image:url(assets/img/book.jpg); background-size:cover"></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">

        <div class="header header-primary text-center">
          <div class="logo-container">
            <img src="assets/img/fris.svg" alt="" width="100%">
          </div>
        </div>

        <div class="content">
          <div fxLayout="row" fxLayoutAlign="center center" class="form-group">

            <mat-form-field appearance="none">
              <mat-label>Choose an option</mat-label>
              <mat-select class="form-control form-class" style="margin-left: -18px; margin-top: -3px;">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <div class="footer text-center">
              <a class="btn btn-primary btn-round btn-lg btn-block" (click)="getKeywords()">Get Keywords</a>
            </div> -->
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center">
            <blockquote>
              <p class="blockquote blockquote-primary">
                "I will be the leader of a company that ends up being worth billions of dollars, because I got the
                answers.
                I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push
                possibilities,
                to show people, this is the level that things could be at."
                <br>
                <br>
                <small>
                  - Noaa
                </small>
              </p>
            </blockquote>

            <a class="btn btn-primary btn-round btn-lg btn-block" (click)="getKeywords()">Get Keywords</a>

            <blockquote>
              <p class="blockquote blockquote-primary">
                "I will be the leader of a company that ends up being worth billions of dollars, because I got the
                answers.
                I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push
                possibilities,
                to show people, this is the level that things could be at."
                <br>
                <br>
                <small>
                  - Noaa
                </small>
              </p>
            </blockquote>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
